# shellcheck disable=SC2034
GENERATE_SOURCEMAP=false
VITE_OIDC_AUTHORITY=https://auth.purepixel.io.vn/application/o/purepixel/
VITE_OIDC_CLIENT_ID=purepixel
VITE_AUTH_REGISTER_URL=https://auth.purepixel.io.vn/if/flow/purepixel-enrollment/

VITE_AXIOS_BASE_URL=https://artwork-sharing-platform.id.vn
VITE_WEBSOCKET_UPLOAD_PHOTO=https://artwork-sharing-platform.id.vn/PHOTO_GATEWAY

VITE_ONE_SIGNAL_APP_ID=c61b020e-57e4-4582-901f-8381c29af7a5

VITE_STREAM_API_KEY=xhwsccp3ptxd
VITE_MAPBOX_TOKEN='pk.your-mapbox-public-token'

# REACT_APP_AXIOS_BASE_URL=http://localhost:3001
# REACT_APP_WEBSOCKET_UPLOAD_PHOTO=http://localhost:3001/PHOTO_GATEWAY
