.ant-select-arrow {
  color: white !important; /* Ensures the color is white */
}
.ant-select-selection-item-remove {
  color: white !important; /* Ensures the color is white */
}
.ant-select-focused .ant-select-selector {
  border-color: white !important; /* Changes the outline color */
  box-shadow: none !important; /* Removes any additional shadow */
}
.ant-select-selection-item {
  /* background-color: rgb(
    123,
    123,
    123
  ) !important;  */
  /* Ensures the color is black */
  color: white !important; /* Ensures the color is white */
}

/* Specific styles for the "Photo privacy" Select component */
.photo-privacy-select .ant-select-selection-item {
  background-color: rgb(
    123,
    123,
    123
  ) !important; 
  /* Ensures the color is black */
  color: white !important; /* Ensures the color is white */
}

.photo-privacy-select .ant-select-selection-item {
  background-color: #292b2f !important; /* Ensures the color is black */
}
